AI_OVER_EMAIL_FASTMAIL_TOKEN=
AI_OVER_EMAIL_USERNAME=
AI_OVER_EMAIL_OPENAI_API_KEY=
AI_OVER_EMAIL_BRAVE_API_KEY=
AI_OVER_EMAIL_MAILBOX=inbox
AI_OVER_EMAIL_PUBLIC_EMAIL=
AI_OVER_EMAIL_PLAINTEXT_ALLOWLIST=
